!!!
html
  head
    title 500ties
    link(rel='stylesheet', href='/css/base.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    script(src='/js/jquery-1.7.2.min.js')
    script(src='/js/bootstrap-dropdown.js')
    script(src='/js/bootstrap-alert.js')
    script(src='/js/socials.js')
    script(src='https://apis.google.com/js/plusone.js')
    script(src="http://platform.linkedin.com/in.js")
      api_key:73dm7omthg0a
      authorize: true
    script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32694313-1']);
      _gaq.push(['_trackPageview']);
          
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
  block scripts

  body
    script
      $('.dropdown-toggle').dropdown();

    block content_header
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            a(href='/').brand 500ties
            .nav-collapse
              ul.nav
                li.active 
                  a(href='/') Home
              ul.nav.pull-right
                - if (everyauth.loggedIn)
                  li.dropdown
                    a(data-toggle='dropdown').dropdown-toggle #{user.first_name} #{user.last_name}
                      b.caret
                    ul.dropdown-menu
                      li 
                        a(href='/user/profile') My profile
                      li.divider
                      li
                        a(href='/logout') Logout
                - else 
                  li.dropdown#menu1
                    a(href='#menu1', data-toggle='dropdown').dropdown-toggle Login
                      b.caret
                    ul.dropdown-menu
                      li 
                        form(action='/user/login', method='post').well
                          #login
                            input(type='text', placeholder='login name', name=everyauth.password.loginFormFieldName).span2
                          #password
                            input(type='password', placeholder='password', name=everyauth.password.passwordFormFieldName).span2
                          #submit
                            center
                              input(type='submit', value='Login').btn.btn-success
                      li.divider 
                      li
                        a(href='/auth/twitter/') 
                          i.icon-twitter-sign.icon-large  Twitter login
                      li 
                        a(href='/auth/facebook/') 
                          i.icon-facebook-sign.icon-large  Facebook login
                      li 
                        a(href='/auth/google/') 
                          i.icon-signin.icon-large  Google login
                      li.divider
                      li 
                        a(href='/user/register') New User: 
                          b register me

    block content



    block footer
      .footer 
        center
          | Copyright 2012 by 
          a(href='/') 500ties.com


    script
      $('.dropdown-toggle').dropdown();
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
          });


