extends base


block content
  .container
    .hero-unit
      .row
        .span6
          img(src='img/logoblack.png') 
        .span4
          center
            br
            h2
             make the most out of your social network
             br
             small 500ties makes your connections and referrals easy
            br
            br 
            br        

            - if (!everyauth.loggedIn)
                a(href='/user/login').btn.btn-large.btn-success 
                  b Sign up 
                  | | Free
          
            - if (everyauth.loggedIn)
                h3 Hey, you just logged in
          

      

