extends base

block content_header

block content
    .row 
        .span10.offset2
            .suscribe
                
                .row
                    .span3
                        img(src='img/logo.png')    
                
                    .span5 
                            h2
                                | Thank you.



 
block footer

