extends base

block content_header
  #fb-root
  script
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

block content
  .row 
    .span11.offset2
      .suscribe
        .span4
          img(src='img/logo.png')
          p
          br
          h3 Do you know who Billy knows that you might need?
          br
          h3 Get the full picture.
          br
          h3 Take your friends networking. 

        .span5
          img(src='img/cloud_people.png', width='450')
          br
          br
          br
          br

        .row
          .span4
            p
          .span6
            h4 Leave your email below if you want to be notified when we launch.
            form(action='/notify', method='POST').form-inline
              #email
                input(type="text", name="email", placeholder='Your e-mail')     
                input.btn.btn-primary(type="submit", value="Notify me")

  .row
    .span2
      p

  .row
    .span2
      p
    .span10
      center
        .fb-like(data-href="http://500ties.com", data-send="false", data-width="90", data-height="80", data-show-faces="false", data-layout="button_count")
        a(href="https://twitter.com/share", class="twitter-share-button", data-via="500ties", data-related="500ties", data-hashtags="aklsw", data-size="normal") Tweet
        script
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        .g-plusone(annotation='inline', data-href='http://500ties.com')
 
block footer

