extends base

block content_header

block content
    .row 
        .span10.offset2
            .suscribe
                
                .row
                    .span3
                        img(src='img/logo.png')    
                
                    .span5 
                            h2
                                | Thank you. We will let you know when we launch.
                            
                            h4
                                | Follow us on  
                                i.icon-twitter-sign.icon-large 
                                a(href='https://twitter.com/#!500Ties') twitter



 
block footer

