extends base

block content_header

block content
    .row 
        .span10.offset2
            .suscribe
                
                .row
                    .span3
                        img(src='img/logo.png')    
                
                    .span5
                        form(action='/notify', method='POST').form-inline.span5
                            h2
                                | Passionate about helping others connect? We help you make more relevant connections, faster.

                            h4
                                | Leave your email below if you want to be notified when we launch.

                            #email
                                input(type="text", name="email", placeholder='Your e-mail')     
                                input.btn.btn-primary(type="submit", value="Notify me")

 
block footer

